# Core
numpy>=1.23
pandas>=2.0
scipy>=1.10

# Visualización
matplotlib>=3.7
seaborn>=0.12

# Machine Learning
scikit-learn>=1.3
lightgbm>=4.0
joblib>=1.3
imbalanced-learn>=0.11

# API
fastapi>=0.110
uvicorn>=0.29
pydantic>=2.0

# Archivos parquet
pyarrow>=14.0
